@charset "utf-8";
/* CSS Document */
body{
background:url(../img/pozadi.jpg) no-repeat;
background-size:cover;
background-attachment:fixed;
font-family: 'Courgette', cursive;
}

.page-container{
margin-left:22%;
padding-bottom:40px;
color:#fff;
}

.icon-chevron-right{
background:url(../img/chevron.png) no-repeat;
background-position:-5px -13px;
display: inline-block;
width:38px;
height:38px;
}

.icon-chevron-down{
background:url(../img/chevron.png) no-repeat;
background-position:-10px -78px;
display: inline-block;
width:38px;
height:38px;
}

#nav-menu .nav{
list-style:none;
background-color:rgba(255,255,255,0.3);
border-bottom:1px solid white;
font-size:30px;
}

#nav-menu .nav li{
float:left;
border-left:1px solid white;
}

#nav-menu .nav .first{
border-left:none;
}

#nav-menu .nav .on{
background-color:rgba(0,0,0,0.3);
}

#nav-menu .nav .last{
float:right;
background-color:rgba(175,56,76, 0.8);
}

#nav-menu .nav .last.on{
background-color:rgba(135,36,56, 0.8);
}

#nav-menu .nav li a{
color:white;
}

#festival-name{
padding:50px 0;
}

#festival-name .h1{
margin:0 auto;
padding:10px 30px;
width:480px;
background-color:rgba(94,46,60, 0.8);
}

#festival-name .gallery{
width:170px;
}

#festival-name .contacts{
width:200px;
}

#info{
padding:0 20px;
}

#info .collapse-toggle{
color:white;
}

#info .text-wrapper{
background-color:rgba(255,255,255,0.5);
margin-left:20px;
padding:10px 20px;
color:rgba(94,46,60, 0.8);
font-size:26px;
}

#gallery, #contacts{
margin:0 40px 40px 40px;
padding:20px;
background-color:rgba(255,255,255,0.3);
text-align:center;
}

#gallery .album-name{
font-size:20px;
color:rgba(94,46,60, 0.8);
}

#gallery .album{
color:rgba(94,46,60, 0.8);
}

#contacts{
background-color:rgba(255,255,255,0.5);
color:rgba(94,46,60, 0.8);
}

#contacts a{
color:white;
}