@charset "utf-8";
/* CSS Document */
body{
background:url(../img/main.jpg) no-repeat;
background-size:cover;
background-attachment:fixed;
}

.container{
padding:20px 0;
}

#header h1{
color:white;
text-transform:uppercase;
background-color:rgba(136,0,21,0.8);
border: 1px solid white;
border-radius:16px;
padding:20px 40px;
text-align:center;
}

#navigation .nav{
list-style:none;
text-align:center;
}

#navigation .nav>li{
padding:10px 20px;
margin-bottom:10px;
border:1px solid white;
border-radius:16px;
font-size:24px;
background-color:rgba(136,0,21,0.8);
font-weight:600;
}

#navigation .nav>li a{
color:white;
}

#navogation a{
padding:0;
}

#navigation a:hover,
#navigation a:focus{
background:transparent;
}

#navigation .nav>li .on{
text-decoration:underline;
}

#subnav{
list-style:none;
padding:0;
margin:0;
}

#content{
padding:20px;
background-color:rgba(221,221,221,0.8);
border:1px solid #333;
border-radius:16px;
font-size:18px;
text-indent:15px;
}

#content .img-responsive{
border:1px solid #333;
}